<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/default']">
      <img src="assets/images/logo-dark.svg" alt="theme logo" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      (click)="isCollapsed = !isCollapsed"
      [attr.aria-expanded]="!isCollapsed"
      aria-controls="collapseExample"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [ngbCollapse]="isCollapsed">
      <ul class="navbar-nav ms-auto f-w-600">
        <li class="nav-item d-flex">
          <a class="nav-link text-dark" [routerLink]="['/private-policy']"
            ><i class="ti ti-home d-inline-block f-18 me-2 d-lg-none"></i> Home</a
          >
        </li>
        <li class="nav-item d-flex">
          <a class="nav-link text-dark" [routerLink]="['/default']"
            ><i class="ti ti-dashboard d-inline-block f-18 me-2 d-lg-none"></i> Dashboard</a
          >
        </li>
        <li class="nav-item d-flex">
          <a class="nav-link text-dark" href="https://codedthemes.gitbook.io/berry-angular/" target="_blank"
            ><i class="ti ti-book d-inline-block f-18 me-2 d-lg-none"></i> Documentation</a
          >
        </li>
        <li class="nav-item d-flex align-items-center">
          <i class="ti ti-credit-card d-inline-block f-18 me-2 d-lg-none"></i>
          <a
            class="btn btn-secondary text-white"
            href="https://codedthemes.com/item/berry-angular-admin-dashboard-template/"
            target="_blank"
            >Purchase Now</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="front-header-image">
  <div class="bg-img-overlay" style="background-image: url('assets/images/pages/header-bg.jpg')"></div>
  <div class="privacy-details">
    <h1 class="text-center text-white pt-5 f-46">Privacy Policy</h1>
    <p class="text-center text-white pt-3 f-16"> Last updated on 18th Feb 2022 </p>
  </div>
  <div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-sm-12">
        <div class="card border">
          <div class="card-body">
            <p class="text-muted">
              This Privacy Policy governs the manner in which Demos: A Network for Ideas and Action, Ltd. (“Demos”, “Us” or “We”) collects,
              uses, maintains, and discloses information collected from users (“Users” or “You”) of its website located at
              <span>www.demos.org</span> (the “Website”).
            </p>
            <h3>The Types of Information Demos Collect</h3>
            <ul>
              <li class="text-dark">
                <b>Non-personally identifiable information</b>
              </li>
            </ul>
            <p class="text-muted">
              Demos may collect non-personally identifiable information about you whenever you visit the Website. Such information may
              include the Internet Protocol (IP) address of the computer you used, the type of browser and operating system you used, the
              date and time you visited the Website, the Internet address of the site from which you linked to the Website, and which pages
              you viewed on the Website.
            </p>
            <ul>
              <li class="text-dark"><b>Web browser cookies</b></li>
            </ul>
            <p class="text-muted">
              Demos may use “cookies” to enhance your experience with the Website. A cookie is a small text file that is stored in your
              computer so that the Website can recognize you and keep track of your preferences. Use of cookies help to measure aggregate
              web statistics, such as collecting the number of Users to the Website, the number of repeat Users and the most popular
              webpages, to serve relevant content to a User as he/she browses the Internet, and for other purposes. You may choose to set
              your web browser to refuse cookies, or to alert you when cookies are being sent. If you do so, however, some parts of the
              Website may not function properly.
            </p>
            <h3>Personally identifiable information</h3>
            <p class="text-muted">
              DDemos, on its own and through select third party vendors, collects personally identifiable information, such as names, email
              addresses, mailing addresses and credit card information, from Users when they voluntarily provide such information to us,
              including, for example, when a User signs up to join our email list, purchases tickets to an event, completes the contact
              form, responds to a job posting, or donates money via the Website. Complete credit card information, however, is not stored.
            </p>
            <h3>How Demos Uses the Information that it Collects</h3>
            <p class="text-muted">
              Demos uses Users’ personal information to better understand how Users use the Website so that we can improve the Website and
              its offerings. Demos also uses Users’ personal information for the purpose for which the Users provided the information, in
              other words, for example, to add you to our email list, to process your request for tickets to an event, to respond to your
              inquiry, to consider you for a job, or to process your donation. If you affirmatively opt-in to our email list, we will add
              you to our list. If at any time you wish to stop receiving emails from us, please follow the unsubscribe instructions at the
              bottom of any email Demos sends you.
            </p>
            <h3>How Demos Protects User Information</h3>
            <p class="text-muted">
              Demos adopts appropriate data collection, storage, and processing practices and security measures to help protect against
              unauthorized access, alteration, disclosure or destruction of your personal information, but Demos cannot guarantee that your
              information is 100% secure. Your credit card information is not stored by Demos.
            </p>
            <h3>Sharing Personal Information</h3>
            <p class="text-muted">
              We use third party service providers, including, for example, Mailchimp, Rallybound, EventBrite and HiringThing, to help us
              operate the Website and administer activities on our behalf, such as collecting donations online and registering Users for
              events. These third party vendors may have access to User information, which becomes subject to their individual privacy
              policies. In addition, Demos shares personal information about Users with Demos Action, our sister organization. Demos may
              also share personal information with other like-minded organizations. In addition, Demos will share personally identifiable
              information about Users when required to do so by law, or in the good faith belief that such action is necessary to comply
              with state and federal laws or to respond to a court order, subpoena, or search warrant. Demos will also share personally
              identifiable information if it believes it is necessary to protect the rights, property, and safety of Demos or others.
            </p>
            <p class="text-muted">
              Demos may also share personally identifiable information in connection with, or during negotiations of, any merger, sale of
              company assets, financing or acquisition of all or a portion of its business to another company. Moreover, Demos may share
              personally identifiable information about a User upon obtaining the User’s consent.
            </p>
            <p class="text-muted">
              Demos may share generic aggregated demographic information not linked to any personally identifiable information regarding
              Users with third parties.
            </p>
            <h3>Sharing Personal Information</h3>
            <p class="text-muted">
              We use third party service providers, including, for example, Mailchimp, Rallybound, EventBrite and HiringThing, to help us
              operate the Website and administer activities on our behalf, such as collecting donations online and registering Users for
              events. These third party vendors may have access to User information, which becomes subject to their individual privacy
              policies. In addition, Demos shares personal information about Users with Demos Action, our sister organization. Demos may
              also share personal information with other like-minded organizations. In addition, Demos will share personally identifiable
              information about Users when required to do so by law, or in the good faith belief that such action is necessary to comply
              with state and federal laws or to respond to a court order, subpoena, or search warrant. Demos will also share personally
              identifiable information if it believes it is necessary to protect the rights, property, and safety of Demos or others.
            </p>
            <h3>Contacting Demos</h3>
            <p class="text-muted">
              If you have any questions about this Privacy Policy or anything relating to the Website, please contact Demos at
              info&#64;demos.org.
            </p>
            <h4>February 18, 2022</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
