<div class="maintenance-block">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="card soon-card">
          <div class="card-body">
            <h2 class="mt-4 text-center f-46"><b>Coming Soon</b></h2>
            <p class="mt-3 mb-4 text-center text-muted f-16">Something new is on it's way</p>
            <div class="soon-image-block">
              <img class="image-animated img-fluid" src="assets/images/pages/img-maintenance-bg.svg" alt="theme images" />
              <img src="assets/images/pages/img-soon-box.svg" class="img-soon soon-box" alt="theme images" />
              <img src="assets/images/pages/img-soon-widget-secondary.svg" class="img-soon soon-secondary" alt="theme images" />
              <img src="assets/images/pages/img-soon-widget-primary.svg" class="img-soon soon-primary" alt="theme images" />
            </div>
            <div class="row timer-block mt-4 justify-content-center" id="timer-block">
              <div class="col-auto">
                <span class="avtar bg-light-secondary avtar-xl">10</span>
              </div>
              <div class="col-auto">
                <span class="avtar bg-light-secondary avtar-xl">10</span>
              </div>
              <div class="col-auto">
                <span class="avtar bg-light-secondary avtar-xl">10</span>
              </div>
              <div class="col-auto">
                <span class="avtar bg-light-secondary avtar-xl">10</span>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-md-6">
                <div class="row d-flex mt-4">
                  <div class="col">
                    <input type="email" class="form-control" placeholder="Email Address" />
                  </div>
                  <div class="col-auto">
                    <div class="d-grid">
                      <button class="btn d-flex align-items-center btn-primary"><i class="ti ti-bell-ringing mx-1"></i>Notify Me</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
