<div class="maintenance-block">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="card error-card">
          <div class="card-body">
            <div class="error-image-block">
              <img class="image-animated img-fluid" src="assets/images/pages/401.jpg" alt="theme images" />
              <!-- <img src="assets/images/pages/img-error-text.svg" class="img-404 error-text" alt="theme images" />
              <img src="assets/images/pages/img-error-primary-widget.svg" class="img-404 error-primary" alt="theme images" />
              <img src="assets/images/pages/img-error-secondary-widget.svg" class="img-404 puple error-secondary" alt="theme images" /> -->
            </div>
            <div class="text-center">
              <h1 class="mt-4"><b>Vous n'êtes pas autorisé à accéder à cette page !</b></h1>
              <button type="button" class="btn btn-primary mb-3">
                <a class="text-white" [routerLink]="['/my-profile']"><i class="ti ti-user me-2"></i>Mon profil</a>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
