<div class="commingsoon-wrapper">
  <div class="sideanimation-block">
    <img class="img-fluid img-bg-logo" src="assets/images/logo-dark.svg" alt="theme-logo" />
    <img class="img-fluid img-comming img-comm-ring-small" alt="theme images" src="assets/images/pages/img-comm-ring-small.svg" />
    <div class="bottom-img">
      <img class="img-fluid img-bg-ring" src="assets/images/pages/img-comm-ring-big.svg" alt="theme images" />
      <img class="img-fluid img-comming img-bg-grid" src="assets/images/pages/img-comm-bg-grid.svg" alt="theme images" />
      <img class="img-fluid img-comming img-widget img-widget1" src="assets/images/pages/img-comm-widget1.svg" alt="theme images" />
      <img class="img-fluid img-comming img-widget img-widget2" src="assets/images/pages/img-comm-widget2.svg" alt="theme images" />
      <img class="img-fluid img-comming img-widget img-widget3" src="assets/images/pages/img-comm-widget3.svg" alt="theme images" />
      <img class="img-fluid img-comming img-widget img-widget4" src="assets/images/pages/img-comm-widget4.svg" alt="theme images" />
      <img class="img-fluid img-comming img-widget img-widget5" src="assets/images/pages/img-comm-widget5.svg" alt="theme images" />
      <img class="img-fluid img-comming img-bg-1" src="assets/images/pages/img-comm-bg1.svg" alt="theme images" />
      <img class="img-fluid img-comming img-bg-2" src="assets/images/pages/img-comm-bg2.svg" alt="theme images" />
    </div>
  </div>

  <div class="content-block">
    <div class="card commingsoon-block">
      <div class="card-body">
        <h2 class="text-primary"><b>Coming Soon</b></h2>
        <h1 class="mt-4"><b>Berry - The React Admin Template</b></h1>
        <p class="text-muted mt-3 f-18"
          >Presenting Material-UI based React Dashboard Template to build performance centric websites and applications.</p
        >
        <ul class="list-inline text-secondary mt-4">
          <li class="list-inline-item d-inline-flex align-items-center"
            ><span class="avtar avtar-xxs me-2 rounded border border-secondary bg-light-secondary"></span>Flexible & Fast
          </li>
          <li class="list-inline-item d-inline-flex align-items-center"
            ><span class="avtar avtar-xxs me-2 rounded border border-secondary bg-light-secondary"></span>Material UI</li
          >
          <li class="list-inline-item d-inline-flex align-items-center"
            ><span class="avtar avtar-xxs me-2 rounded border border-secondary bg-light-secondary"></span>Javascript / Typescript
          </li>
        </ul>
        <div class="row d-flex my-4">
          <div class="col">
            <input type="email" class="form-control" placeholder="Email Address" />
          </div>
          <div class="col-auto">
            <div class="d-grid">
              <button class="btn btn-primary">Subscribe</button>
            </div>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-md-6 mt-3">
            <ngb-carousel
              [showNavigationArrows]="false"
              [showNavigationIndicators]="false"
              [interval]="2000"
              class="carousel slide commingsoon-slider"
            >
              <ng-template ngbSlide>
                <img src="assets/images/pages/slider-1.png" alt="First Slide" class="d-block w-100" />
              </ng-template>
              <ng-template ngbSlide>
                <img src="assets/images/pages/slider-2.png" alt="Second Slide" class="d-block w-100" />
              </ng-template>
              <ng-template ngbSlide>
                <img src="assets/images/pages/slider-3.png" alt="Third Slide" class="d-block w-100" />
              </ng-template>
            </ngb-carousel>
          </div>
          <div class="col-md-6 cs-footer-text">
            <ul class="list-inline me-auto mb-3">
              <li class="list-inline-item align-bottom">
                <a href="javascript:" class="avtar avtar-s btn-light-facebook" title="Facebook">
                  <i class="ti ti-brand-facebook f-18"></i>
                </a>
              </li>

              <li class="list-inline-item align-bottom">
                <a href="javascript:" class="avtar avtar-s btn-light-twitter" title="Twitter">
                  <i class="ti ti-brand-twitter f-18"></i>
                </a>
              </li>
              <li class="list-inline-item align-bottom">
                <a href="javascript:" class="avtar avtar-s btn-light-dribbble" title="Dribble">
                  <i class="ti ti-brand-dribbble f-18"></i>
                </a>
              </li>
              <li class="list-inline-item align-bottom">
                <a href="javascript:" class="avtar avtar-s btn-light-linkedin" title="Linkedin">
                  <i class="ti ti-brand-linkedin f-18"></i>
                </a>
              </li>
              <li class="list-inline-item align-bottom">
                <a href="javascript:" class="avtar avtar-s btn-light-amazon" title="Github">
                  <i class="ti ti-brand-github f-18"></i>
                </a>
              </li>
            </ul>
            <div class="d-flex align-items-center">
              <h5 class="mb-0 me-3 text-muted">Project By</h5>
              <img src="assets/images/pages/codedthemes-logo.svg" alt="theme logo" class="wid-130 img-fluid" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
