<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['#']">
      <img style="width: 50px;" src="favicon.ico" alt="theme-logo" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      (click)="isCollapsed = !isCollapsed"
      [attr.aria-expanded]="!isCollapsed"
      aria-controls="collapseExample"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  
  </div>
</nav>
<div class="front-header-image">
  <div class="bg-img-overlay" style="background-image: url('assets/images/pages/header-bg.jpg')"></div>
  <div class="faq-details">
    <h1 class="text-center text-white pt-5 f-46">FAQ</h1>
    <p class="text-center text-white pt-3 f-16"> Veuillez consulter la foire aux questions (FAQ) pour obtenir une aide rapide. </p>
    <img src="assets/images/pages/contact-mail.svg" alt="contact images" class="faq-mail d-none d-lg-block" />
  </div>
  s
  <div class="container">
    <div class="row justify-content-center">
      <!-- [ sample-page ] start -->
      <div class="col-sm-12">
        <div class="card border faq-card">
          <div class="card-body">
            <div ngbAccordion [closeOthers]="true">
                <div *ngFor="let item of panels" ngbAccordionItem [collapsed]="panels[0].title !== 'First'">
                  <h2 ngbAccordionHeader>
                    <button ngbAccordionButton>{{ item?.question }}</button>
                  </h2>
                  <div ngbAccordionCollapse>
                    <div ngbAccordionBody>
                      <ng-template>
                        <div [innerHTML]="item?.answer"></div>
                      </ng-template>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
      <!-- [ sample-page ] end -->
    </div>
  </div>
</div>
