<div class="auth-sidecontent">
    <div class="p-3 px-lg-5 text-center">
        <div class="animation-content">
            <img src="assets/images/authentication/my_logo.png" alt="images"
                class="img-fluid blue-card mt-3" />
            <img src="assets/images/authentication/my_logo.png" alt="images"
                class="img-fluid purple-card mt-3" />
        </div>
        <ngb-carousel class="carousel-dark" [showNavigationArrows]="false" [showNavigationIndicators]="true">
            <ng-template ngbSlide>
                <h1><b>AnKeCRM</b></h1>
                <p class="f-12 mt-4">Une gestion intelligente pour des performances durables</p>
            </ng-template>
            <ng-template ngbSlide>
                <h1><b>AnKeCRM</b></h1>
                <p class="f-12 mt-4">Une gestion intelligente pour des performances durables</p>
            </ng-template>
            <ng-template ngbSlide>
                <h1><b>AnKeCRM</b></h1>
                <p class="f-12 mt-4">Une gestion intelligente pour des performances durables</p>
            </ng-template>
        </ngb-carousel>
    </div>
</div>