<div class="auth-main">
  <div class="auth-wrapper v1">
    <div class="auth-form">
      <div class="card mt-5">
        <div class="card-body">
          <div class="row">
            <div class="d-flex justify-content-between">
              <div>
                <h2 class="text-secondary"><b>Réinitialiser mot de passe</b></h2>
                <h4 class="text-muted"><b>Saisissez votre nouveau mot de passe.</b></h4>
                <div class="text-danger" *ngIf="errors && errors.token">{{ errors.token }}</div>
              </div>
              <app-logo></app-logo>
            </div>
          </div>
          <div class="col-md-12">
            <label for="inputNewPassword4" class="form-label">Nouveau mot de passe</label>
            <div class="input-group mb-3">
              <input [type]="passwordType" [(ngModel)]="newPassword" class="form-control" placeholder="Nouveau mot de passe"
                aria-label="Recipient’s username" aria-describedby="button-addon2">
              <button (click)="shPasswd()" class="btn btn-outline-secondary" type="button" id="button-addon2"><i
                  class="ti ti-eye"></i></button>
            </div>
            <div class="text-danger" *ngIf="errors && errors.password">{{ errors.password }}</div>
          </div>
          <div class="d-grid mt-4">
            <button (click)="setNewPassword()" type="button" class="btn btn-secondary p-2"> Réinitialiser mot de
              passe</button>
          </div>
        </div>
      </div>
    </div>
    <app-my-theme></app-my-theme>
  </div>
</div>