<div class="auth-main">
  <div class="auth-wrapper v1">
    <div class="auth-form">
      <div class="card mt-5">
        <div class="card-body">
          <div class="row">
            <div class="d-flex justify-content-between">
              <div>
                <h2 class="text-secondary"><b>Mot de passe oublié ?</b></h2>
              </div>
              <app-logo></app-logo>
            </div>
          </div>
          <p class="f-16 mt-2"> Entrez votre adresse e-mail ci-dessous et nous allons vous envoyer un code de
            réinitialisation de mot de passe. </p>
          <div class="col-md-12">
            <label for="inputEmail4" class="form-label">Email</label>
            <input [(ngModel)]="email" placeholder="Adresse email" type="email" class="form-control" id="inputEmail4">
            <span class="text-danger">{{errors?.email}}</span>
            <span class="text-danger">{{errors?.general}}</span>
          </div>
          <div class="d-grid mt-4">
            <button (click)="sendEmailToResetPassword()" type="button" class="btn btn-secondary p-2"> Envoyer </button>
          </div>
          <hr />
          <h5 class="d-flex justify-content-end">
            <a [routerLink]="['/login']">Avez-vous déjà un compte?</a>
          </h5>
        </div>
      </div>
    </div>
    <app-my-theme></app-my-theme>
  </div>
</div>